{{ attach_library('surface/fieldset') }}

{% set classes = [
  'fieldset',
  fieldgroup ? 'fieldset--group',
  'js-form-item',
  'form-item',
  'js-form-wrapper',
  'form-wrapper',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set legend_classes = [
  'fieldset__legend',
  fieldgroup and not form_composite ? 'fieldset__legend--group',
  form_composite ? 'fieldset__legend--composite',
  title_display == 'invisible' ? 'fieldset__legend--invisible' : 'fieldset__legend--visible',
  legend ? legend.attributes.class
]|join(' ')|trim %}

{% set legend_span_classes = [
  'fieldset__label',
  fieldgroup ? 'fieldset__label--group',
  required ? 'js-form-required',
  required ? 'form-required',
  legend_span ? legend_span.attributes.class
]|join(' ')|trim %}

{% set wrapper_classes = [
  'fieldset__wrapper',
  fieldgroup ? 'fieldset__wrapper--group'
]|join(' ')|trim %}

{% set description_classes = [
  'fieldset__description'
]|join(' ')|trim %}

<fieldset class="{{ classes }}" {{ attributes ? attributes|without('class', 'id') }}>
  {% if legend.title %}
  <legend class="{{ legend_classes }}" {{ legend.attributes ? legend.attributes|without('class', 'id') }}>
    <span class="{{ legend_span_classes }}" {{ legend_span.attributes ? legend_span.attributes|without('class', 'id') }}>{{ legend.title }}</span>
  </legend>
  {% endif %}

  <div class="{{ wrapper_classes }}" {{ content_attributes ? content_attributes|without('class', 'id') }}>
    {% if inline_items %}
      <div class="container-inline">
    {% endif %}

    {% if description_display == 'before' and description.content %}
      <div class="{{ description_classes }}" {{ description.attributes ? description.attributes|without('class', 'id') }}>{{ description.content }}</div>
    {% endif %}

    {% if prefix %}
      <span class="fieldset__prefix">{{ prefix }}</span>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="fieldset__suffix">{{ suffix }}</span>
    {% endif %}

    {% if errors %}
      <div class="fieldset__error-message">
        {{ errors }}
      </div>
    {% endif %}

    {% if description_display in ['after', 'invisible'] and description.content %}
      <div class="{{ description_classes }}" {{ description.attributes ? description.attributes|without('class', 'id') }}>{{ description.content }}</div>
    {% endif %}

    {% if inline_items %}
      </div>
    {% endif %}
  </div>
</fieldset>
