{% set classes = [
  'block',
  'block-menu',
  'navigation',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set title_classes = [
  'block__title',
  'visually-hidden',
  title_attributes ? title_attributes.class,
]|join(' ')|trim %}

<nav class="{{ classes }}" {{ attributes ? attributes|without('class') }} aria-labelledby="{{ heading_id }}" role="navigation">
  {{ title_prefix }}
  <h2 class="{{ title_classes }}" {{ title_attributes ? title_attributes|without('class') }} id="{{ heading_id }}">{{ label }}</h2>
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
