    <!-- Drupal -->
    <script type="application/json" data-drupal-selector="drupal-settings-json">{}</script>
    <script src="../../../../../core/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../../core/assets/vendor/once/once.min.js"></script>
    <script src="../../../../../core/misc/drupalsettingsLoader.js"></script>
    <script src="../../../../../core/misc/drupal.js"></script>
    <script src="../../../../../core/misc/drupal.init.js"></script>
    <script src="../../../../../core/assets/vendor/tabbable/index.umd.min.js"></script>

    <!-- Concatenated by Gulp so you don't have to manually add each file. -->
    <script src="../../dist/js/form-boolean.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-utils.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-main.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-main-second-level.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/search-wide.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/messages.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/tabs.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot|raw }}
  </body>
</html>
