{{ attach_library('surface/messages') }}

{% set classes = [
  'messages',
  type ? 'messages--' ~ type,
]|join(' ')|trim %}

<div data-drupal-messages class="{{ classes }}" data-drupal-selector="messages" role="contentinfo" aria-label="{{ heading }}">
  <div class="messages__container" data-drupal-selector="messages-container"{% if type == 'error' %} role="alert"{% endif %}>
    {% if heading %}
      <div class="messages__header">
        <h2 class="visually-hidden">{{ heading }}</h2>
        <div class="messages__icon"></div>
      </div>
    {% endif %}

    <div class="messages__content">
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>

    <div class="messages__button">
      <button type="button" class="messages__close">
        <span class="visually-hidden">Close message</span>
      </button>
    </div>
  </div>
</div>
