{{ attach_library('surface/region')}}

{% set classes = [
  'region',
  modifier ? modifier,
  attributes ? attributes.class
]|join(' ')|trim %}

<section class="{{ classes }}" {{ attributes ? attributes|without('class') }} {% if id %}id={{ id }}{% endif %}>
  {% block content %}
    {{ content }}
  {% endblock %}
</section>
