{{ attach_library('surface/search-block-form') }}

{% set classes = [
  'search-block-form',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set id = random(1, 100) %}

<form action="{{ action|default('/search/node') }}" method="get" id="search-block-form--{{ id }}" accept-charset="UTF-8" class="{{ classes }}">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
    <label for="edit-keys--{{ id }}" class="form-item__label visually-hidden">Search</label>
    <input title="{{ title|default('Enter the terms you wish to search for.') }}" placeholder="{{ placeholder|default('Search by keyword or phrase.') }}" data-drupal-selector="edit-keys" type="search" id="edit-keys--{{ id }}" name="keys" value="" size="15" maxlength="128" class="form-search form-element form-element--type-search form-element--api-search">
  </div>
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--{{ id }}">
    <button class="search-block-form__submit js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--{{ id }}" value="Search">
      <span class="icon--search"></span>
      <span class="visually-hidden">Search</span>
    </button>
  </div>
</form>
