{% set classes = [
  'node',
  'l-container',
  'l-grid',
  'l-grid--medium',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set title_classes = [
  'node__title',
  title_attributes ? title_attributes.class
]|join(' ')|trim %}

{% set content_classes = [
  'node__content',
  content_attributes ? content_attributes.class
]|join(' ')|trim %}

<article class="{{ classes }}" {{ attributes ? attributes|without('class', 'id') }}>
  <header>
    {{ title_prefix }}
    {{ title_suffix }}

    {% if display_submitted %}
      <div class="node__meta">
        <span{{ author_attributes }}>
          {{ 'By'|t }} {% apply spaceless %}<span class="node__author">{{ author_name }}</span>{% endapply %}, {{ date }}
        </span>
        {{ metadata }}
      </div>
    {% endif %}

    {% if label and not page %}
      <div class="node__top-wrapper">
        {{ image }}
        <h2 class="{{ title_classes }}" {{ title_attributes ? title_attributes|without('class') }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      </div>
    {% endif %}
  </header>

  <div class="{{ content_classes }}" {{ content_attributes ? content_attributes|without('class') }}>
    {{ content }}
  </div>
</article>
